a {
    text-decoration: none;
    font-size: 20px;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-evenly;
    height: 500px;
}

.projects {
    display: flex;
    flex-direction: row;
}
#portrait {
    margin: 32px;
    width: 60%;
    height: auto;
    aspect-ratio: 3 / 4;
}
.info {
    margin-right: 20%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: column;
}


#in {
    height: 30px;
    width: 30px;
}
#github {
    height: 30px;
    width: 30px;
}
#gmail {
    height: 30px;
    width: auto;
}

button {
    background: transparent;
    border: none;
    font-size: 20px;
}


.project-bubble {
    border-radius: 10px;
    background: grey;
}

div {
    color: transparent;
}

body {
    background-color: #1c1c1c;
}

* {
    color: rgb(190, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
}

/* projects */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-bubble {
    width: 85%;
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    margin: auto;
}

#project_name {
    text-align: center;
    font-size: 30px;
}

#project_description {
    font-size: 25px;
    margin: 0 5% 0 5%;
}
#lcpilot {
    font-size: 20px;
}
#wikiguess {
    font-size: 20px;
}



/* experience */
#experience {
    color: white;
    height: 500px;
    display: grid;  
    grid-template-rows: 1fr 0.5fr 0.5fr .5fr 1fr;
    transition: grid-template-rows .5s ease-out;
}

.exp-container {
    margin: 0 15% 0 15%;
    border: 5px solid green;
}

#exp-header {
    height: 20px;
}

#exp-name {
    font-size: 30px;
}

.si {
    margin: 0 15% 0 15%;
    height: 70px;
    overflow: hidden;
}

.ds-intern {
    margin: 0 15% 0 15%;
    height: 70px;
    overflow: hidden;
}

.acm {
    margin: 0 15% 0 15%;
    height: 70px;
    overflow: hidden;
}

.exp-title {
    display: flex;
    flex-direction: columns;
    justify-content: space-between;
}

.si:hover {
    height: auto;
    overflow: visible;
}

.ds-intern:hover {
    height: auto;
    overflow: visible;
}

.acm:hover {
    grid-template-rows: 1fr;
    overflow: visible;
}

.info p {
    font-size: 20px;
}

#contact {
    margin: auto;
}

.images {
    display: flex;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
}